<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>hola mundo</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="main">
	<h1>Hola mundo</h1>
<ul>
	<li><span>Nombre :</span> Betania</li>
	<li><span>Apellido :</span> Celis</li>
	<li><span>Cedula :</span> 31375085</li>
	<li><span>Seccion :</span> 4</li>
</ul>	
</div>




</body>
</html>
</html>